<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.Ionic03" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ionic03</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event v3.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <!-- explain: http://learn.ionicframework.com/formulas/localstorage/ -->
    <!-- <preference name="BackupWebStorage" value="none" /> -->

	<!-- Urban Airship app credentials -->
	<preference name="com.urbanairship.production_app_key" value="PRODUCTION_APP_KEY" />
	<preference name="com.urbanairship.production_app_secret" value="PRODUCTION_APP_SECRET" />
	<preference name="com.urbanairship.development_app_key" value="dvjEEpPWSDumYs1cbqbIlw" />
	<preference name="com.urbanairship.development_app_secret" value="saLsLNGmRoC4oGItaQ5Mpw" />

	<!-- If the app is in production or not -->
	<preference name="com.urbanairship.in_production" value="false" />

	<!-- Enable push when the application launches (instead of waiting for enablePush js call).  Defaults to false -->
	<preference name="com.urbanairship.enable_push_onlaunch" value="true" />

	<!-- Only required for Android. -->
	<preference name="com.urbanairship.gcm_sender" value="44535440585" />
</widget>
