<ion-view title="{{title}}" hide-back-button="true">
    <ion-nav-buttons side="left" >
        <a class="button button-icon icon ion-android-close" ng-click="cancel()"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="takePicture()">
            <i class="icon ion-android-camera"></i>
        </button><button class="button button-icon" ng-click="pickImage()">
            <i class="icon ion-image"></i>
        </button><button class="button button-icon" ng-click="save()">
            <i class="icon ion-android-send"></i>
        </button>
    </ion-nav-buttons>
  <ion-content class="has-header fill-content">
      <div class="screen-pad" ng-class="{ 'super-fill': applyClass }">
        <textarea id="addpost" class="fill-textarea" placeholder="Post content" ng-model="item.text"></textarea>
      </div>
  </ion-content>
</ion-view>
