<ion-view title="Select Blog">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  <ion-refresher on-refresh="doRefresh()"
                 pulling-text="Pull to refresh..."
                 refreshing-icon="">
  </ion-refresher>

  <div class="list">
      <a class="item item-icon-right item-button-right"
              ng-repeat="item in items track by item.id"
              ng-click="selectBlog(item)">

          <div ng-bind-html="item.name"></div>
          <i ng-click="blogInfo(item)" class="icon ion-chevron-right icon-accessory"></i>
      </a>
  </div>
  </ion-content>
</ion-view>

<!--
        <div class="list">
      <a class="item item-icon-right"
              ng-repeat="item in items track by item.id"
              ng-bind-html="item.name"
              ng-click="selectBlog(item)">
          <h2>Test</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
  </div>
-->