<ion-content scroll="false" has-header="false">
    <div class="super-fill">
        <div class="row">
            <h4 class="center col">Star!</h4>
        </div>
    </div>
</ion-content>

<!--
<ion-content get-gesture="drag" get-gesture-action="onDragOver" scroll="false" has-header="false" class="fill-content">
    <div class="unlock-area super-fill">
        <div class="rowitem row">
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
        </div>
        <div class="rowitem row">
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
        </div>
    </div>
</ion-content>
-->