<ion-view title="DBTest">
    <ion-content class="has-header">
        <p>version 3:<button ng-click="go('app.playlists')">Main</button></p>
        <p>-------------------------------------------------------------------------------------------------------------</p>
        <button ng-click="htmlParserTest(html_text)">HTML Parser 2</button>
        <button ng-click="htmlParserTest(html_text2)">HTML Parser 2</button>
        <p>
        <p>
        <p compile="html_text"> // Notice the lack of accolades and quotes!
        <p compile="html_text2"> // Notice the lack of accolades and quotes!
        <p compile="html_text3"> // Notice the lack of accolades and quotes!
        <p compile="html_result"> // Notice the lack of accolades and quotes!
        <p>-------------------------------------------------------------------------------------------------------------</p>
    </ion-content>
</ion-view>
