<ion-content onhold="onHold" scroll="false" has-header="false" class="super-center holdSelect" >
    <h1 class="huge">
        <div class="row">
            <i class="ion-ios7-star-outline unlock-size"></i>
            <i class="ion-ios7-star-outline unlock-size"></i>
            <i class="ion-ios7-star-outline unlock-size"></i>
        </div>
        <div class="row">
            <i class="ion-ios7-star-outline unlock-size"></i>
            <i class="ion-ios7-star-outline unlock-size"></i>
            <i class="ion-ios7-star-outline unlock-size"></i>
        </div>
        <div class="row">
            <i class="ion-ios7-star-outline unlock-size"></i>
            <i class="ion-ios7-star-outline unlock-size"></i>
            <i class="ion-ios7-star-outline unlock-size"></i>
        </div>
    </h1>
</ion-content>