<!-- http://css-tricks.com/almanac/properties/a/align-content/ -->

<ion-content class="unlock-background" get-gesture="drag dragstart dragend tap" get-gesture-action="onDragOver" scroll="false" has-header="false">

    <div class="unlock-area super-fill">
        <div class="row">
            <h4 id="0" class="center col unlock-text" ng-click="backdoor()">{{text}}</h4>
        </div>
        <div id="unlock-area" class="row">
        </div>
    </div>
</ion-content>

<!--
<ion-content get-gesture="drag" get-gesture-action="onDragOver" scroll="false" has-header="false" class="fill-content">
    <div class="unlock-area super-fill">
        <div class="rowitem row">
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
        </div>
        <div class="rowitem row">
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
            <div class="unlock-icon col"><i id="7" class="ion-ios7-star-outline unlock-size"></i></div>
        </div>
    </div>
</ion-content>
-->